*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: century gothic;
    font-weight: 600;
    scroll-behavior: smooth;
}
.nav-section-container{
    width: 100%;
    height:auto;
    z-index: 1000;
    position: fixed;
    transition: 0.2s;
}
nav{
    width: 100%;
    height: 60px;
    margin-top: 5px;
    transition: 0.3s;
}
nav.active{
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 0px;
}
.navbar-part1{
    width: 30%;
    height: 60px;
    float: left;
}
.navbar-part1 img{
    width: 200px;
    margin-left: 10%;
}
.navbar-part2{
    width:70%;
    height: 60px;
    float: right;
}
.navbar-part2 ul li{
    display: inline-block;
    line-height: 60px;
}
.navbar-part2 ul li a{
    text-decoration: none;
    padding: 5px 15px;
    color: black;
    font-weight: 600;
    transition: 0.2s;
    border-radius: 10px;
}
.navbar-part2 ul li a:hover{
    background-color: crimson;
    border-radius: 10px;
    color: white;
}
.navbar-part2 ul li a:active{
    background-color: yellow
}
.mobile-menu{    
    float: right;
    margin-right: 50px;
    display: none;
    margin-top: 10px; 
}
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }


.nav-section-container .menu-item{
    background-color: #000000;
    text-align: center;
    list-style: none;
    display: none;
    padding: 20px;
}
.nav-section-container .menu-item li{
    padding: 10px;
}
.nav-section-container .menu-item li a{
    text-decoration: none;
    color: crimson;
}
.home-section .home-main{
    background-image: url(../img/hero-section.png);
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
}
.home-section .part-1{
    padding: 150px 50px;
    float: left;
  
}
.home-section .part-1 h3{
    text-align: center;
    font-size:40px;
    font-family: 'Leckerli One', cursive;
}
.home-section .part-1 h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Fredericka the Great', cursive;
}
.home-section .part-1 p{
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}
.home-section .part-1 span{
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: 'Fredericka the Great', cursive;
}
.home-section .part-1 h4{
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 35px;
}
.home-section .part-2{
    padding: 50px 0px;
    float: left;
}
.home-section .part-2 img{
    width: 100%;
}
.menu-section{
    background-color: floralwhite;
}
.menu-section .part-1{
    text-align: center;
    padding: 10% 10% 0% 10%;
}
.menu-section .part-1 h1{
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
}
.menu-section .part-1 p{
    font-family: 'Supermercado One', cursive;
    font-size: 16px;
}
.menu-section .part-2{
    padding: 0% 50px;
}
.menu-section .part-2 img{
    width: 100%;
}
.menu-section .part-2 h1{
    font-family: 'Chela One', cursive;
    text-align: center;
}
.menu-section .part-2 p{
    text-align: center;
    font-family: 'Supermercado One', cursive;
}
.menu-section .part-2 .items{
    float: left;
    padding: 20px;
}
.event-section{
    position: relative;
}
.event-section .part-1{
    padding: 100px 0% 0px 0%;
}
.event-section .part-1 h4{
    font-family: 'Chela One', cursive;
}
.event-section .part-1 h1{
    font-family: 'Fredericka the Great', cursive; 
    font-size: 42px;
}
.event-section .part-2 .img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.event-section .part-2 .img-container img{
    width: 30%;
    margin: 1%;
    box-shadow: 0px 0px 15px rgb(201, 201, 201);
    border-radius: 10px;
}

.event-section .part-3 span{
    display: block;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #FFE100 0%, #ECEAAA 100%);
    border-radius: 8px;
    
}
.event-section .part-3 p{
    font-size: 33px;
    display: inline;
}
.event-section .part-3 i{
    font-size: 40px;
    margin-right: 10px;
}
.contact-section{
    padding: 100px 0%;
}
.contact-section .part-1 h4{
    text-align: center;
    font-family: 'Chela One', cursive;
}
.contact-section .part-1 h1{
    text-align: center;
    font-family: 'Fredericka the Great', cursive; ;
    font-size: 42px;
}
.contact-section .part-2{
    padding: 50px 0%;
}
.contact-section .part-2 .form-1{
    width: 350px;
    height: 50px;
    float: right;
    margin: 2% 0%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(209, 205, 205);

}
.contact-section .part-2 .form-2{
    width: 350px;
    height: 50px;
    float: left;
    margin: 2% 0%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(209, 205, 205);

}
.footer-section{
    background: url(../img/footer-section.jpg);
    background-size: cover;
    padding: 80px
}
.footer-section .part-1 img{
    width: 200px;
    margin-bottom: 50px;

}
.footer-section .part-1 p{
    color:rgb(172, 166, 166);
    font-size: 16px;
    word-spacing: 5px;
    margin-bottom: 50px;
}
.footer-section .part-1 h4{
    color:rgb(226, 224, 224);
    font-size: 20px;
}
.footer-section .part-1 a{
    text-decoration: none;
}
.footer-section .part-2{
    padding: 150px 0% 0% 0%;
    text-align: center;
    color:yellow;
    font-size: 20px;

}
.footer-section .part-2 .footer-icon i{
    color: rgb(255, 255, 255);
    margin: 30px 5px 0px 5px;
    transition: 0.3s;
}
.footer-section .part-2 .footer-icon i:hover{
    color: orange;
}